
* {
    box-sizing: border-box;
    border: 0;
    padding: 0;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    background-color: aqua;
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: wrap; */
    /* flex-flow: column-reverse wrap-reverse; */
    flex-flow: column wrap;
    width: 640px;
    height: 340px;
    justify-content: center;
    align-items: center;
    /* justify-content: flex-end; */
    margin-top: 50px;
}

#container div{
    border: 1px solid black;
    background-color: orange;
    height: 100px;
    width: 100px;
    font-size: 200%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
}